body {
  
  /* background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:100%; */
  font-family: 'Courier New', Courier, monospace;
  font-size:115%;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(231,219,216,1) 100%);
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}
.backgroundVideo{
  width: 100vw;
  height:100vh;
  object-fit: cover;
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom:0;
  z-index: -1;
}
h3 {
  margin-top: 0%;
  margin-bottom: 0%;
}
h3:hover {
  color: red
}
h2 {
  margin-bottom: 0%;
  color: rgb(93, 150, 18);
}


.descriptionContainer{
  /* border: 15px inset rgb(93, 150, 18);
  border-radius: 25px;
  padding: .5%; */
}

.search{
  display: flex;
  margin-top: .50%;
  margin-left: 1%;
  /* position: fixed */
  /* z-index: 3; */
}

.leftPane {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: -5vh; */
  width: 20%;
  margin-top: 3%;
  margin-left: 1%; 
  margin-right: 4%;
  margin-bottom: 2%;
  z-index: 1;
  /* border: 5px solid black; */
  border: 15px inset rgb(93, 150, 18);
  border-radius: 25px;
  padding: .5%;
  

}
.leftPaneFake {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 20%;
  margin-top: 1%;
  margin-left: 1%; 
  margin-right: 4%;
  z-index: 1;
  /* border: 2px solid black; */
  padding: .5%

}

.descVideo {
  margin-top: 3%;
  /* margin-right: 5%; */
  display: flex;
  flex-direction: row-reverse;
  margin-left: -2%;
  max-width: 71%;
  height: 90vh;
  position: fixed;
  border: 15px inset rgb(93, 150, 18);
  border-radius: 25px;
  /* padding: .5%; */
}
.video{
  /* display: flex; */
  /* width: 130vw; */
  max-width: 100%;
  /* height: 700px; */
  /* height: 85vh; */
  border-right: 7px solid black;
}
.flippedVideo{
  /* display: flex; */
  max-width: 100%;
  /* width: 130vw; */
  /* height: 87vh; */
  /* height: 700px; */
  /* height: 100%; */
  transform : scaleX(-1);
  border-left: 7px solid black;
 
}
.screen {
  display: flex; 
}
.hidden {
  display: none;
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 0%; 
  /* height: 100vh;  */
 } 

h1{
  display:flex;
  justify-content: center;
  margin-bottom: -1%;
  text-decoration: underline;
}
p {
  margin-bottom: 0%;
  font-size: 110%;
  /* margin-left: 5%; */

}
.descriptionContainer {
  margin-left:10%
}
  
.exerciseButton {
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
  font-weight: bolder;
  text-align: center;
  border: 4px solid rgb(93, 150, 18);
  position: fixed;
  height: 3vh;
  width: 10vw;
  /* margin-bottom: 8%; */
  margin-left: 43%;
  border-radius: 25px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

button:hover {
  color:red
}
.moreInfo{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
  font-weight: bolder;
  text-align: stretch;
  margin-left: 35%;
  border: 4px solid rgb(93, 150, 18);
  width: 20%;
  margin-top: 2%;
  margin-bottom: -2%;
  border-radius: 25px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

label {
  font-weight: bold;
  font-size: larger;
}
input {
  font-family: 'Courier New', Courier, monospace;
  height: 2vh;
  width: 230%;
  font-size: 100%;
  border: 4px solid rgb(93, 150, 18);
  border-radius: 40px;
  
}
input:focus{
  outline: none;
  border: 4px solid purple;
}
.bar {
  background-color: black;
  height: 5vh;
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: 2;
}
/* .span {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: -10%;
} */
audio{
  margin-top: 5%;
}
