body {
  /* background-image: url("https://www.ezfacility.com/wp-content/uploads/2019/09/How-to-clean-gym-mats.jpg"); */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:100%;
  font-family: 'Courier New', Courier, monospace;
  font-size:115%;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(231,219,216,1) 100%);
}
h3:hover {
  color: red
}
h2 {
  margin-bottom: 5%;
}

.leftPane {
  margin-top: 1%;
  margin-left: 1%; 
}
.exerciseButton {
  margin-bottom: 0.5%;
}
label {
  margin-right: 0.25%;
}
.exerciseFilter {
  display: flex;
  flex-direction: row;
  margin-bottom: -0.5%;
}
.exercise{
  display: flex;
  flex-direction: row;
  margin-bottom: -9%;
  /* width: 10%; */
}

.descVideo {
  margin-top: 8%;
  margin-right: 5%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 0%;
  width: 70%;
  position: fixed;
}
.video{
  width: 100%;
  height: 700px;
}
.screen {
  display: flex; 
  flex-direction: row;
}
.hidden {
  display: none;
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  
}
h1{
  display:flex;
  justify-content: center;
}
p {
  margin-top: -2%;
  font-size: 110%;
}
.descriptionContainer {
  margin-left:10%
}
  
button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bolder;
  border-width: 3px;
  width: 50%;
  height: 2%;
  margin-top: 5%;
}

button:hover {
  color:red
}
.buttonAndFilter {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  position:fixed;
  margin-left: 35%;
}
.filter {
  margin-left: 10%;
}
label {
  font-weight: bold;
  font-size: larger;
}
input {
  font-family: 'Courier New', Courier, monospace;
  height: 60%;
  width: 60%;
  font-size: 12pt
}